<div class="container custom-container w-75 p-3">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Exclir Tarefa</h3>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.name"
        class="form-control mb-2"
        placeholder="Título"
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.description"
        class="form-control mb-2"
        placeholder="Descrição"
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.contact"
        class="form-control"
        placeholder="Contato"
      />
    </div>

    <div class="form-group d-flex justify-content-around mt-4">
      <button
        class="btn btn-warning col-md-3 bc-color"
        (click)="deleteTask(id)"
      >
        Excluir
      </button>
      <button class="btn btn-danger col-md-3 bc-color" routerLink="/home">
        Cancelar
      </button>
    </div>
  </div>
</div>
