<div class="container custom-container w-75 p-3">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Qual será sua próxima tarefa?</h3>
    <div>
      <input
        type="text"
        [(ngModel)]="taskDetails.name"
        class="form-control mb-2"
        placeholder="Título"
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskDetails.description"
        class="form-control mb-2"
        placeholder="Descrição"
        required
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskDetails.contact"
        class="form-control"
        placeholder="Contato"
      />
    </div>
  </div>
  <div class="form-group d-flex justify-content-around mt-4">
    <button class="btn btn-success col-md-3" (click)="addTask()">
      Criar Tarefa
    </button>
    <button class="btn btn-danger col-md-3" routerLink="/home">
      Cancelar
    </button>
  </div>
</div>
