<div class="container custom-container w75 p-3">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Atualizar Tarefa</h3>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.name"
        class="formcontrol"
        placeholder="Título"
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.email"
        class="formcontrol"
        placeholder="Descrição"
      />
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="taskData.phone"
        class="formcontrol"
        placeholder="Contato"
      />
    </div>

    <div class="form-group d-flex justify-content-around mt-5">
      <button
        class="btn btn-success col-md-3 hover bc-color"
        (click)="updateTask()"
      >
        Atualizar Tarefa
      </button>
      <button
        class="btn btn-danger col-md-3 hover bc-color"
        routerLink="/task-list"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
