<div
  class="container d-flex flex-row flex-md-row p-3 mt-3 mb-3 border-bottom shadow-sm bg-body-tertiary cursor"
>
  <h2 class="font-size-large font-weight-bold text-black pr-5">
    Organizador de Tarefas
  </h2>
  <div class="container-fluid">
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="container-fluid">
        <a class="btn btn-outline-primary me-2" routerLink="/task-list"
          >Mostrar Tarefas</a
        >
        <a class="btn btn-outline-secondary" routerLink="/task-create"
          >Adicionar nova Tarefa</a
        >
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
