<div class="container custom-container-2">
  <div class="no-data text-center" *ngIf="Tasks.length == 0">
    <p>There is no task added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/task-create">
      Add a new Task
    </button>
  </div>
  <div *ngIf="Tasks.length !== 0">
    <h3 class="mb-3 text-center">Lista de Tarefas</h3>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead class="titles">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Contato</th>
            <th scope="col" class="actions-column">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Tasks">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.contact }}</td>
            <td>
              <div class="d-flex justify-content-around">
                <span
                  class="edit cursor"
                  id="hover"
                  routerLink="/task-edit/{{ item.id }}"
                >
                  ✏️<span id="show" class="font"> Editar </span>
                </span>

                <span
                  class="delete cursor"
                  id="hover"
                  (click)="deleteTask(item.id)"
                >
                  🗑️ <span id="show" class="font"> Excluir </span>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
