<p>task-list works!</p>
<div class="container custom-container-2">
  <div class="no-data text-center" *ngIf="Tasks.length == 0">
    <p>There is no task added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/task-create">
      Add a new Task
    </button>
  </div>
  <div *ngIf="Tasks.length !== 0">
    <h3 class="mb-3 text-center">Task List</h3>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Tasks">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>
              <span class="edit" routerLink="/task-edit/{{ item.id }}"
                >Edit</span
              >
              <span class="delete" (click)="deleteTask(item.id)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
